<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<link rel="stylesheet" media="screen"
	href="https://fontlibrary.org/face/orkney" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/main.js"></script>
</head>

<body>
	<div class="left_container">
		<div class="name_container">
			<img class="profile_pic" src="images/profile_pic.jpg" alt="">
			<div class="name">Jaydeep Mohile</div>
		</div>
		<div class="info">
			<div class="info-item">
				jamohile@gmail.com<br>
			</div>
			<div class="info-item">
				(905) 904 3280<br>
			</div>
		</div>
		<div class="buttons">

			<div class="button" id="Portfolio">Portfolio</div>
			<br>
			<!-- 			<div class="button" id="Resumé">Resumé</div> -->
			<!-- 			<br> -->
			<!-- 			<div class="button" id="About">About</div> -->
			<!-- 			<br> -->
		</div>
	</div>
	<div class="right_container">
		<div class="page_banner">Portfolio</div>
		<div class="portfolio">
			<% portfolio.forEach(function(item){ %>
			<div class="portfolio_item" id=<%= item.name %> >
				<img class="portfolio_item_image" src= <%= item.imagePath %>>
				<div class="portfolio_item_name"><%= item.name %></div>
				<div class="portfolio_item_information">
					<div class="portfolio_item_information_description"><%= item.description %></div>
					<% if(item.hasWebsite == 'true'){ %>
					<a href=<%= item.website %>>Website</a>
					<% } %>
					<% if(item.hasSource == 'true'){ %>
					<a href=<%= item.sourceCode %>>Source Code</a>
					<% } %>
					<div class="portfolio_item_information_meta">
						<b>Status: </b><%= item.status %><br> <b>Platforms: </b> <%= item.platforms %> <br>
						<b>Languages/Frameworks: </b><%= item.frameworks %>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
		<!-- 				<div class="resumé"> -->
		<!-- 						<div class="resume_content"> -->
		<!-- 								<div class="resume_content_column"> -->
		<!-- 										<div class="resume_content_experience resume_header"> -->
		<!-- 												<b>Experience</b> -->
		<!-- 												<div class=resume_content_list> -->

		<!-- 														<div class="resume_content_list_item"> -->
		<!-- 																<div class="resume_content_list_item_header"> -->
		<!-- 																		<div class="resume_content_time">2015-Present</div> -->
		<!-- 																		<div class="resume_content_title">Audio -->
		<!-- 																				Technician, Vocally Inspired Performers</div> -->
		<!-- 																</div> -->

		<!-- 																<div class="resume_content_description">Managed -->
		<!-- 																		audio and microphone technology for live community -->
		<!-- 																		based musical-theatre.</div> -->
		<!-- 														</div> -->
		<!-- 														<div class="resume_content_list_item"> -->
		<!-- 																<div class="resume_content_list_item_header"> -->
		<!-- 																		<div class="resume_content_time">2014-Present</div> -->
		<!-- 																		<div class="resume_content_title">Umpire, -->
		<!-- 																				Uxbridge Youth Baseball Association</div> -->
		<!-- 																</div> -->

		<!-- 																<div class="resume_content_description">Responsible -->
		<!-- 																		for managing and officiating baseball games for the -->
		<!-- 																		town's league.</div> -->
		<!-- 														</div> -->
		<!-- 												</div> -->

		<!-- 										</div> -->
		<!-- 										<div class="resume_content_experience resume_header"> -->
		<!-- 												<b>Education</b> -->
		<!-- 												<div class=resume_content_list> -->
		<!-- 														<div class="resume_content_list_item"> -->
		<!-- 																<div class="resume_content_list_item_header"> -->
		<!-- 																		<div class="resume_content_time">2014-Present</div> -->
		<!-- 																		<div class="resume_content_title">Port Perry -->
		<!-- 																				High School</div> -->
		<!-- 																</div> -->

		<!-- 																<ul class="resume_content_description"> -->
		<!-- 																		<li><b>2016-Present: </b>Head of Special Events</li> -->
		<!-- 																		<li><b>2015-2016: </b>Head of Junior Council</li> -->
		<!-- 																		<div> -->
		<!-- 																				<br> -->
		<!-- 																		</div> -->
		<!-- 																		<li>Honor Role Recipient</li> -->
		<!-- 																		<li>Recipient of PPHS French Award</li> -->
		<!-- 																		<li>Recipient of PPHS Computer Science Award</li> -->
		<!-- 																</ul> -->
		<!-- 														</div> -->
		<!-- 														<div class="resume_content_list_item"> -->
		<!-- 																<div class="resume_content_list_item_header"> -->
		<!-- 																		<div class="resume_content_time">2012-14</div> -->
		<!-- 																		<div class="resume_content_title">R.H. Cornish -->
		<!-- 																				P.S</div> -->
		<!-- 																</div> -->
		<!-- 																<ul class="resume_content_description"> -->
		<!-- 																		<li>Named "Outstanding Graduate"</li> -->
		<!-- 																		<li>Honor Role Recipient</li> -->
		<!-- 																		<li>Student Letter Recipient</li> -->
		<!-- 																</ul> -->

		<!-- 																<div class="resume_content_description"></div> -->
		<!-- 														</div> -->
		<!-- 												</div> -->


		<!-- 										</div> -->
		<!-- 								</div> -->

		<!-- 								<div class="resume_space"></div> -->
		<!-- 								<div class="resume_content_column"> -->
		<!-- 										<div class="resume_content_experience resume_header"> -->
		<!-- 												<b>Skills</b> -->
		<!-- 												<div class=resume_content_list> -->
		<!-- 														<div class="resume_content_list_item"> -->
		<!-- 																<div class="resume_content_list_item_header"> -->
		<!-- 																		<div class="resume_content_time"></div> -->
		<!-- 																		<div class="resume_content_title">Soft Skills</div> -->
		<!-- 																</div> -->

		<!-- 																<div class="resume_content_description"> -->
		<!-- 																		<ul class="resume_content_description"> -->
		<!-- 																				<li>Excellent Interpersonal skills</li> -->
		<!-- 																		</ul> -->
		<!-- 																</div> -->
		<!-- 														</div> -->
		<!-- 												</div> -->

		<!-- 										</div> -->
		<!-- 										<div class="resume_content_experience resume_header"> -->
		<!-- 												<b>Achievements</b> -->
		<!-- 												<div class=resume_content_list> -->
		<!-- 														<div class="resume_content_list_item"> -->
		<!-- 																<div class="resume_content_list_item_header"> -->
		<!-- 																		<div class="resume_content_time">2016-17</div> -->
		<!-- 																</div> -->

		<!-- 																<div class="resume_content_description"> -->
		<!-- 																		<ul class="resume_content_description"> -->
		<!-- 																				<li>Named "Outstanding Graduate"</li> -->
		<!-- 																				<li>Honor Role Recipient</li> -->
		<!-- 																				<li>Student Letter Recipient</li> -->
		<!-- 																		</ul> -->
		<!-- 																</div> -->
		<!-- 														</div> -->
		<!-- 												</div> -->


		<!-- 										</div> -->
		<!-- 								</div> -->

		<!-- 						</div> -->
		<!-- 				</div> -->
</body>
</html>

